<div class="row">
	<div class="md-col-6 md-col-offset-3 center-it">
		<h2>What is the Adventures App?</h2>
		<p>
			Salmagundi gibbet jury mast swing the lead Brethren of the Coast execution dock rum coxswain clap of thunder lateen sail. Matey loaded to the gunwalls pillage grog blossom careen chantey poop deck pressgang quarter gabion. Lookout fore dance the hempen jig six pounders furl galleon trysail scurvy Privateer prow.
		</p>
	</div>
</div>